In [12]:
import pandas as pd

In [13]:
deberta_sub = pd.read_csv('///mnt/c/Personal/Competitions/Kaggle/h2oai-predict-the-llm/runs/nb001/submit_nb001.csv')
mistral_sub = pd.read_csv('///mnt/c/Personal/Competitions/Kaggle/h2oai-predict-the-llm/runs/nb005/submit.csv')
deberta_sub.head()

   id  target_0  target_1  target_2  target_3  target_4  target_5  target_6
0   0  0.284482  0.042055  0.285460  0.014814  0.272049  0.010960  0.090180
1   1  0.004304  0.003385  0.001192  0.001258  0.001232  0.970321  0.018309
2   2  0.001547  0.001536  0.000625  0.000891  0.000700  0.991164  0.003536
3   3  0.453023  0.060077  0.167482  0.014523  0.225826  0.015240  0.063828
4   4  0.001293  0.056857  0.001371  0.932756  0.000329  0.005324  0.002071

In [14]:
mistral_sub.head()

,id,target_0,target_1,target_2,target_3,target_4,target_5,target_6
0,0,3.577881e-01,0.021357,1.422577e-01,1.122701e-02,3.515625e-01,0.059193,0.056530
1,1,1.328588e-04,0.003084,3.814697e-05,4.130602e-05,1.683831e-04,0.994873,0.001459
2,2,3.576279e-07,0.000002,3.576279e-07,3.576279e-07,4.172325e-07,0.999756,0.000001
3,3,3.159790e-01,0.085175,4.010391e-02,4.558372e-02,2.238312e-01,0.012020,0.277435
4,4,2.015829e-04,0.020469,1.738429e-03,9.277344e-01,4.899502e-04,0.000194,0.049145

In [15]:
ens = deberta_sub.iloc[:,1:]*0.2+mistral_sub.iloc[:,1:]*0.8
mistral_sub.iloc[:,1:] = ens

In [16]:
mistral_sub.to_csv('///mnt/c/Personal/Competitions/Kaggle/h2oai-predict-the-llm/runs/nb001/ens_submit_nb001_nb005.csv',index=False)

### pp

In [63]:
mistral_sub = pd.read_csv('///mnt/c/Personal/Competitions/Kaggle/h2oai-predict-the-llm/runs/nb005/submit.csv')

In [64]:
mistral_sub.head()

,id,target_0,target_1,target_2,target_3,target_4,target_5,target_6
0,0,3.577881e-01,0.021357,1.422577e-01,1.122701e-02,3.515625e-01,0.059193,0.056530
1,1,1.328588e-04,0.003084,3.814697e-05,4.130602e-05,1.683831e-04,0.994873,0.001459
2,2,3.576279e-07,0.000002,3.576279e-07,3.576279e-07,4.172325e-07,0.999756,0.000001
3,3,3.159790e-01,0.085175,4.010391e-02,4.558372e-02,2.238312e-01,0.012020,0.277435
4,4,2.015829e-04,0.020469,1.738429e-03,9.277344e-01,4.899502e-04,0.000194,0.049145

In [65]:
idxmax = mistral_sub.iloc[:,1:].idxmax(1).values.tolist()

In [66]:
for ix, max_val in enumerate(mistral_sub.iloc[:,1:].max(1).values.tolist()):
    # if max_val>0.99:
    if max_val>0.5:    
        _idxmax = idxmax[ix]
        remaining_ids = [i for i in mistral_sub.iloc[:,1:].columns if _idxmax not in i]
        mistral_sub.loc[ix,remaining_ids] = 0.
        mistral_sub.loc[ix,_idxmax] = 1.

In [67]:
mistral_sub.head()

   id  target_0  target_1  target_2  target_3  target_4  target_5  target_6
0   0  0.357788  0.021357  0.142258  0.011227  0.351562  0.059193  0.056530
1   1  0.000000  0.000000  0.000000  0.000000  0.000000  1.000000  0.000000
2   2  0.000000  0.000000  0.000000  0.000000  0.000000  1.000000  0.000000
3   3  0.315979  0.085175  0.040104  0.045584  0.223831  0.012020  0.277435
4   4  0.000000  0.000000  0.000000  1.000000  0.000000  0.000000  0.000000

In [43]:
mistral_sub.to_csv('///mnt/c/Personal/Competitions/Kaggle/h2oai-predict-the-llm/runs/nb005/submit_pp_95.csv',index=False)

In [68]:
mistral_sub.iloc[:,1:].sum().sum()

1000.9959483742714

### Mistral and Zephyr ensemble

In [69]:
mistral_sub = pd.read_csv('///mnt/c/Personal/Competitions/Kaggle/h2oai-predict-the-llm/runs/nb005/submit.csv')
zephyr_sub = pd.read_csv('///mnt/c/Personal/Competitions/Kaggle/h2oai-predict-the-llm/runs/nb006/submit.csv')

In [70]:
ens = (mistral_sub.iloc[:,1:]+zephyr_sub.iloc[:,1:])/2
mistral_sub.iloc[:,1:] = ens

In [71]:
idxmax = mistral_sub.iloc[:,1:].idxmax(1).values.tolist()

In [72]:
for ix, max_val in enumerate(mistral_sub.iloc[:,1:].max(1).values.tolist()):
    if max_val>0.99:
        _idxmax = idxmax[ix]
        remaining_ids = [i for i in mistral_sub.iloc[:,1:].columns if _idxmax not in i]
        mistral_sub.loc[ix,remaining_ids] = 0.
        mistral_sub.loc[ix,_idxmax] = 1.

In [73]:
mistral_sub.to_csv('///mnt/c/Personal/Competitions/Kaggle/h2oai-predict-the-llm/runs/nb006/mistral_zephyr_ense_pp.csv',index=False)

### Weights

In [101]:
mistral_sub = pd.read_csv('///mnt/c/Personal/Competitions/Kaggle/h2oai-predict-the-llm/runs/nb005/submit.csv')
zephyr_sub = pd.read_csv('///mnt/c/Personal/Competitions/Kaggle/h2oai-predict-the-llm/runs/nb006/submit.csv')
public_sub = pd.read_csv('///mnt/c/Personal/Competitions/Kaggle/h2oai-predict-the-llm/runs/public_sub.csv')

In [103]:
ens = (mistral_sub.iloc[:,1:]*0.35+zephyr_sub.iloc[:,1:]*0.55+public_sub.iloc[:,1:]*0.1)
mistral_sub.iloc[:,1:] = ens

In [104]:
idxmax = mistral_sub.iloc[:,1:].idxmax(1).values.tolist()

In [105]:
for ix, max_val in enumerate(mistral_sub.iloc[:,1:].max(1).values.tolist()):
    if max_val>0.99:
        _idxmax = idxmax[ix]
        remaining_ids = [i for i in mistral_sub.iloc[:,1:].columns if _idxmax not in i]
        mistral_sub.loc[ix,remaining_ids] = 0.
        mistral_sub.loc[ix,_idxmax] = 1.

In [106]:
mistral_sub.to_csv('///mnt/c/Personal/Competitions/Kaggle/h2oai-predict-the-llm/runs/nb006/mistral_zephyr_publicsub_weighted_ense_pp.csv',index=False)

### Mistral 2X max len

In [88]:
mistral_sub = pd.read_csv('///mnt/c/Personal/Competitions/Kaggle/h2oai-predict-the-llm/runs/nb005/submit.csv')
zephyr_1536_sub = pd.read_csv('///mnt/c/Personal/Competitions/Kaggle/h2oai-predict-the-llm/runs/nb006/submit_maxlen_1536.csv')
zephyr_sub = pd.read_csv('///mnt/c/Personal/Competitions/Kaggle/h2oai-predict-the-llm/runs/nb006/submit.csv')

In [89]:
zephyr_sub.head()

,id,target_0,target_1,target_2,target_3,target_4,target_5,target_6
0,0,2.421656e-01,9.005070e-03,6.565094e-02,1.359820e-03,5.363159e-01,0.126385,1.909113e-02
1,1,1.376271e-04,4.683018e-03,5.763769e-05,2.503395e-05,2.791882e-04,0.994507,4.952550e-04
2,2,1.192093e-07,5.960464e-07,5.960464e-08,5.960464e-08,4.768372e-07,1.000000,5.960464e-08
3,3,5.233459e-01,1.629615e-01,4.737186e-02,2.748680e-02,8.261108e-02,0.008985,1.470947e-01
4,4,1.597404e-05,1.106567e-01,7.236004e-05,8.546143e-01,5.185604e-06,0.000043,3.462458e-02

In [90]:
zephyr_1536_sub.head()

,id,target_0,target_1,target_2,target_3,target_4,target_5,target_6
0,0,2.421656e-01,9.005070e-03,6.565094e-02,1.359820e-03,5.363159e-01,0.126385,1.909113e-02
1,1,1.376271e-04,4.683018e-03,5.763769e-05,2.503395e-05,2.791882e-04,0.994507,4.952550e-04
2,2,1.192093e-07,5.960464e-07,5.960464e-08,5.960464e-08,4.768372e-07,1.000000,5.960464e-08
3,3,5.233459e-01,1.629615e-01,4.737186e-02,2.748680e-02,8.261108e-02,0.008985,1.470947e-01
4,4,1.597404e-05,1.106567e-01,7.236004e-05,8.546143e-01,5.185604e-06,0.000043,3.462458e-02